.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.virtual-keyboard {
  display: flex;
  flex-direction: column;
}

.key {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  margin: 2px;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: center;
}

.key:hover {
  background-color: #f2f2f2;
}
